{% extends 'main/index.html' %}

{% block content %}
    <form action="{{ post.get_update_url }}" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="group-form">
                {% if field.errors %}
                    <div class="alert alert danger">
                        {{ field.error }}
                    </div>
                {% endif %}
                {{ field.label }}
                {{ field }}
            </div>
        {% endfor %}
        <button class="btn btn-primary" type="submit">Edit Post</button>
    </form>
{% endblock %}